.box{
    display:inline-block;
    width:100px;
    border:solid 2px blue;
    margin:10px;
    padding-left:5px;
    background-color:pink;
    cursor:pointer;
}

.glue {
    display:inline-block;
    width:100px;
    margin:20px;
}

.connected {
    background-color:lightgreen;
}

.select_box{
    border-width:4px;
}

.error {
    color:red;
}